Source: fancontroller
Section: unknown
Priority: optional
Maintainer: Zacharia Henderson <github.com/CodeOhms>
Build-Depends: debhelper (>= 9), libboost-system-dev (>= 1.62.0), libboost-filesystem-dev(>= 1.62.0)
Standards-Version: 3.9.8
Vcs-Git: https://github.com/CodeOhms/RPi_Fan_Controller.git
Vcs-Browser: https://github.com/CodeOhms/RPi_Fan_Controller

Package: fancontroller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple program to control fans
 Simple program which uses the pigpio library to control fans, depending on the
 temperature read by temperature sensors.
 Input GPIO pins, for temperature sensors, can be set using a config file.
 Groups of fans can also be defined in the config file. Each group can
 than be assigned to any defined sensor.
